.CategoryList{
    position: absolute;
    top: 174px;
    margin-left: -20px;
    margin-right:69px;
    z-index: 999;
    background-color: white;  
    height: 21.5rem;
    min-height: 350px;
    width: 275px;
    padding-left: 0;
    margin-bottom: 0;
        & {
            list-style: none;
            line-height: 3rem;
            font-size: 12px;
            color: #0a3251;
            font-family: 'FiraGO', sans-serif;
            font-weight: 500;
        }

        .lii{
            border-bottom: 1px solid rgb(247, 243, 243);
            transition: background-color 0.3s;
            padding-left: 1rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap:20px
        }
}