.popul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        .borangeb{
            width: 130px;
            position: relative;
            left: 73px;
            top:-0.39rem;
            background-color: #fb7613;;
        }
        .orangeb{
            top: -0.2rem;
            padding: 5px;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            background-color: #fb7613;;
        }
}

.editButttton{
    background: none;
    border: none;
    position: absolute;
    bottom: 17rem;
    left: 0.5rem;
  }