.innerAB{
    width: 50%;
    background-color: white;
    position: relative;
    margin: auto;
    margin-top: 2rem;
    padding: 5rem;
        h2{
            font-family: "FiraGO-Bold";
            color: #093251;
            line-height: 42px;
            text-align: center;
        }
        .FormBoddy{
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
}