*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 0.5%;
    padding-bottom: 0.7rem;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgb(230, 227, 227);
}

.left{
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.right{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.language{
    display: flex;
    gap: 5px;
    border-left: 1px solid #b9c0c5;
    padding-left: 12px;
    justify-content: center;
    align-items: center;
    font-family: 'FiraGO', sans-serif;
  }

.gray{
    color: #99a8b4;
    font-size: 12px;
    margin-bottom: 0px;
    font-family: 'FiraGO', sans-serif;
}

.red{
    color: #fe5f55;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 0px;
    font-family: 'FiraGO', sans-serif;
}

.geo{
    font-size: 13px;
    color: #0a3251;
    margin-bottom: 0px;
    font-family: 'FiraGO', sans-serif;
}